img.primary {
    width: 600px;
    height: auto;
}

.doc-link {
    background-color: #e5e5e5;
    border: #000 1px solid;
    padding: 4px;
    font-size: 13px;
}

figcaption {
    font-size: 14px;
    margin: auto;
    width: 600px;
}

blockquote {
    font-size: 16px;
}

tbody {
    font-size: 12px;
}

.ref-link {
    font-size: 14px;
}