/** ====== image ====== **/

// 独立成行的全宽图片
article img.primary {
    max-width: 600px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px #000000;
    transition: 0.2s;
}

article img.primary:hover {
    border-radius: 0px;
    box-shadow: 0px 0px 10px 0px #000000;
}



// 图片标题
article figcaption.primary {
    font-size: 0.9rem;
    margin: auto;
    width: 600px;
    text-align: center;
    padding-bottom: 24px;
}

/** ===== Links ===== **/

// 独立成行的重要链接
.doc-link {
    background-color: #e5e5e5;
    border: #000 1px solid;
    padding: 4px;
    font-size: 0.8rem;
}

/** ===== Text ===== **/
article p.sidenote {
    position: absolute;
    width: 192px;
    font-size: 0.85rem;
    right: -192px;
    margin: 0px;
    border-top: 1px solid #434343; 
    padding-top: 0.5rem; 
}

blockquote {
    font-size: 16px;
}

tbody {
    font-size: 12px;
}

.ref-link {
    font-size: 14px;
}